body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.image-home {
  position: relative;
  left: 3rem;
  top: 7rem;
}
.home-text {
  position: absolute;
  top: 7rem;
  left: 5rem;
  font-size: 45px;
  font-family: "RobotoNormal, sans-serif";
}
.checkbox-text {
  position: absolute;
  left: 8rem;
  top: 15rem;
  font-size: 25px;
  font-family: "RobotoNormal, sans-serif";
}
.easily-pay {
  position: absolute;
  top: 18rem;
  left: 8rem;
  font-family: RobotoNormal, sans-serif;
  font-size: 24px;
}
.avoid-court {
  position: absolute;
  left: 8rem;
  top: 21rem;
  font-family: "RobotoNormal, sans-serif";
  font-size: 25px;
}

.col-3 {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: -28rem;
  width: 100% !important;
  background: #fff;
}
.view-challan-button {
  line-height: 24px;
  font-family: "RobotoMedium, sans-serif";
  color: white;
  background: darkorchid;
  font-size: 24px;
  margin-top: 1rem;
  position: relative;
  top: 0rem;
  left: 26rem;
  width: 23%;
  border-radius: 20px;
  height: 3rem;
  
}
.enter-vehicle-text {
  font-size: 35px;
  line-height: 32px;
  font-family: "RobotoBold, sans-serif";
  position: relative;
  top: 7rem;
  left: 58rem;
  width: 25%;
}
.input {
  display: flex;
  align-items: center;
  
  width: 25%;
  height: 68px;
  background: #eaeaea;
  border-radius: 12px;
  margin-top: 8rem;
  position: relative;
  left:58rem;
  /* margin-left: 58rem; */
}
.check-text {
  font-size: 30px !important;
  line-height: 36px !important;
  font-family: "RobotoNormal, sans-serif" !important;
  position: relative !important;
  right: 27rem !important;
  top: 17rem !important;
}
.h2-heading-paragraph-text {
  font-family: "RobotoNormal, sans-serif";
  font-size: 21px;
  line-height: 28.8px;
  position: relative;
  top: 17rem;
  left: 3rem;
  width: 81rem;
}
.e-challan {
  position: relative;
  right: 30rem;
  top: 17rem;
  font-family: "RobotoBold, sans-serif";
  font-size: 30px;
}
.e-challan-paragraph-text {
  font-family: "RobotoNormal, sans-serif";
  font-size: 21px;
  line-height: 28.8px;
  position: relative;
  top: 17rem;
  left: 3rem;
  width: 81rem;
}
.read-more-button {
  margin-top: 270px;
  padding: 10px 20px;
  background-color: darkorchid;
  color: white;
  border: none;
  border-radius: 5px;
  position: relative;
  left: 24rem;
}
.check-e-challan {
  position: relative;
  right: 24rem;
  top: 17rem;
  font-family: "RobotoBold, sans-serif";
  font-size: 30px;
}
.check-your-challan {
  font-family: "RobotoNormal, sans-serif";
  font-size: 21px;
  line-height: 28.8px;
  position: relative;
  left: 3rem;
  top: 17rem;
  width: 81rem;
}
.pay-e-challan {
  position: relative;
  right: 26rem;
  top: 17rem;
  font-family: RobotoBold, sans-serif;
  font-size: 30px;
}
.paragarph-pay-online {
  font-family: "RobotoMedium, sans-serif";
  font-size: 21px;
  line-height: 28.8px;
  position: relative;
  top: 17rem;
  left: 3rem;
  width: 81rem;
}
.e-challan-question {
  position: relative;
  right: 23rem;
  top: 16rem;
  font-family: RobotoBold, sans-serif;
  font-size: 30px;
}
.paragraph-e-challan-question {
  font-family: "RobotoMedium, sans-serif";
  font-size: 21px;
  line-height: 28.8px;
  position: relative;
  left: 3rem;
  top: 16rem;
  width: 81rem;
}
.penalties-and-fines {
  position: relative;
  right: 30rem;
  top: 15rem;
  font-family: RobotoBold, sans-serif;
  font-size: 30px;
}
.paragraph-penalties-and-fines {
  font-family: "RobotoMedium, sans-serif";
  font-size: 21px;
  line-height: 28.8px;
  position: relative;
  top: 15rem;
  left: 3rem;
  width: 80rem;
}
.advantage-challan-payment {
  position: relative;
  right: 22rem;
  top: 14rem;
  font-family: RobotoBold, sans-serif;
  font-size: 30px;
}
.paragraph-advantage-e-challan {
  font-family: "RobotoMedium, sans-serif";
  font-size: 21px;
  line-height: 28.8px;
  position: relative;
  left: 3rem;
  top: 14rem;
  width: 81rem;
}
.conclusion {
  position: relative;
  right: 34rem;
  top: 14rem;
  font-family: RobotoBold, sans-serif;
  font-size: 30px;
}
.paragraph-conclusion {
  font-family: "RobotoMedium, sans-serif";
  font-size: 21px;
  line-height: 28.8px;
  position: relative;
  left: 3rem;
  top: 14rem;
  width: 81rem;
}

.read-more-link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.content-section {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.content-section h2 {
  margin-bottom: 1rem;
}
.violations-and-penalties {
  margin-top: 2rem;
  font-size: 36px;
  line-height: 32px;
  font-family: " RobotoBold, sans-serif";
  position: relative;
  right: 18rem;
}
.paragraph-traffic-violations {
  font-family: "RobotoNormal, sans-serif";
  font-size: 21px;
  line-height: 28.8px;
  margin-left: 4rem;
  margin-top: 1rem;
}
.offences-document {
  line-height: 24px;
  font-family: RobotoMedium, sans-serif;
  margin-top: 2rem;
  margin-right: 57rem;
  font-weight: bold;
}
.offences-table {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 2rem;
  width: 1276px;
  /* height: 600px; */
}
.offense-related {
  line-height: 24px;
  font-family: "RobotoMedium, sans-serif";
  margin-top: 2rem;
  margin-right: 68rem;
  font-weight: bold;
}
.offense-related-table {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 2rem;
  width: 1276px;
}
.view-more-button {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: darkorchid;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 60rem;
}
.check-challan {
  font-size: 30px;
  line-height: 20px;
  font-family: "RobotoBold, sans-serif";
  margin-left: 1rem;
  margin-top: -16rem;
}
.first-col-6 {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1rem !important;
  width: 617px !important;
  background: #e1e8ed;
  margin-left: 20rem !important;
  border-radius: 20px;
  height: 47rem;
}
.step-for-check-challan {
  font-size: 24px;
  line-height: 20px;
  font-family: "RobotoBold, sans-serif";
  margin-top: 3rem;
}
.paragraph-visit-app {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-right: 15rem;
  margin-top: 1rem;
}
.click-challan {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-right: 24rem;
  margin-top: 0rem;
}
.enter-vehicle-number {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-right: 6rem;
  margin-top: 0rem;
}
.find-update-button {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-right: 0rem;
  margin-top: 0rem;
}
.get-e-challan-status {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-right: 7rem;
  margin-top: 0rem;
}
.first-box-image {
  margin-left: -14rem;
}
.second-col-6 {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1rem !important;
  width: 650px !important;
  background: #e1e8ed;
  margin-right: -29rem !important;
  border-radius: 20px;
}
.parivahan-website {
  font-size: 24px;
  line-height: 24px;
  font-family: "RobotoBold, sans-serif";
  margin-top: 3rem;
  margin-left: -2rem;
}
.visit-parivahan-website {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-right: 2rem;
  margin-top: 1rem;
}
.click-get-challan-details {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-right: 4rem;
  margin-top: 0rem;
}
.enter-details-captcha {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-right: 7rem;
  margin-top: 0rem;
}
.select-the-e-challan {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-right: 8rem;
  margin-top: 0rem;
  /* width: 100%; */
}
.proceed-the-payment {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-right: 1rem;
  margin-top: 0rem;
}
.studio-display-image {
  margin-right: 3rem;
}
.how-can-pay-challan {
  font-size: 30px;
  line-height: 36px;
  font-family: "RobotoBold, sans-serif";
  position: relative;
  top: 9rem;
  right: 30rem;
}
.paragraph-pay-online-offline {
  font-size: 18px;
  line-height: 20px;
  font-family: "RobotoNormal, sans-serif";
  margin-top: 10rem;
  margin-left: 3rem;
}
div#rc-tabs-1-tab-1 {
  width: 22rem;
  font-size: 24px;
  line-height: 24px;
  font-family: "RobotoBold, sans-serif";
  color: black;
}
div#rc-tabs-1-tab-2 {
  width: 22rem;
  font-size: 24px;
  line-height: 24px;
  font-family: "RobotoBold, sans-serif";
  color: black;
}
div#rc-tabs-1-tab-3 {
  width: 22rem;
  font-size: 24px;
  line-height: 24px;
  font-family: "RobotoBold, sans-serif";
  color: black;
}

.open-challanDekho-image {
  position: relative;
  right: 37rem;
  top: 1rem;
  width: 5rem;
}
.ant-tabs-nav {
  display: contents;
}
/* .ant-tabs.ant-tabs-top.css-dev-only-do-not-override-qnu6hi {
  margin-left: 25rem !important;
} */
.ant-tabs-nav-operations {
  gap: 200px;
  margin-left: -20rem !important;
}
.open-challan-dekho {
  font-size: 30px;
  line-height: 32px;
  font-family: "RobotoBold, sans-serif";
  margin-left: -41rem;
  font-weight: bold;
  margin-top: -4rem;
}
.paragraph-challan-dekho {
  font-size: 17px;
  line-height: 20px;
  font-family: "RobotoNormal, sans-serif";
  /* display: contents; */
  margin-top: 1rem;
  margin-left: -37rem;
}
.vehicle-number-image {
  position: relative;
  right: 37rem;
  top: 4rem;
  width: 8rem;
}
.vehicle-number {
  font-size: 30px;
  line-height: 32px;
  font-family: "RobotoBold, sans-serif";
  margin-left: 10rem;
  font-weight: bold;
  width: 22rem;
}
.paragraph-vehicle-number {
  font-size: 17px;
  line-height: 20px;
  font-family: "RobotoNormal, sans-serif";
  margin-left: -29rem;
  margin-top: 1rem;
}
.check-challan-status-image {
  position: relative;
  right: 37rem;
  top: 5rem;
  width: 5rem;
}
.e-challan-status {
  font-size: 30px;
  line-height: 32px;
  font-family: "RobotoBold, sans-serif";
  font-weight: bold;
  position: relative;
  left: -19rem;
}
.paragraph-challan-status {
  font-size: 17px;
  line-height: 20px;
  font-family: "RobotoNormal, sans-serif";
  margin-left: -34rem;
  margin-top: 1rem;
}
.pending-challan-image {
  position: relative;
  right: 37rem;
  top: 5rem;
  width: 5rem;
}
.pending-challan {
  font-size: 30px;
  line-height: 32px;
  font-family: "RobotoBold, sans-serif";
  margin-left: -35rem;
  font-weight: bold;
  /* width: 13rem; */
}
.paragraph-pending-challan {
  font-size: 17px;
  line-height: 20px;
  font-family: "RobotoNormal, sans-serif";
  margin-left: -35rem;
  margin-top: 1rem;
}
.recieve-confirmation-image {
  position: relative;
  right: 37rem;
  top: 5rem;
  width: 5rem;
}
.recieve-confirmation {
  font-size: 30px;
  line-height: 32px;
  font-family: "RobotoBold, sans-serif";
  margin-left: -26rem;
  font-weight: bold;
  /* width: 43rem; */
}
/* .h2-heading-pay-challan {
  margin-left: 25rem;
} */
.paragraph-recieve-confirmation {
  font-size: 17px;
  line-height: 20px;
  font-family: "RobotoNormal, sans-serif";
  margin-top: 2rem;
  margin-left: -6rem;
}
.visit-parivahan-image {
  position: relative;
  right: 37rem;
  top: 1rem;
  width: 5rem;
}
.visit-parivahan {
  font-size: 30px;
  line-height: 32px;
  font-family: "RobotoBold, sans-serif";
  margin-left: 9rem;
  font-weight: bold;
  width: 28rem;
  margin-top: -2rem;
}
.paragraph-visit-parivahan {
  font-size: 17px;
  line-height: 20px;
  font-family: "RobotoNormal, sans-serif";
  margin-left: -33rem;
  margin-top: 1rem;
}
.get-challan-details-image {
  position: relative;
  right: 37rem;
  top: 5rem;
  width: 5rem;
}
.get-challan-details {
  font-size: 30px;
  line-height: 32px;
  font-family: "RobotoBold, sans-serif";
  margin-left: 9rem;
  font-weight: bold;
  width: 29rem;
}
.paragraph-get-challan-details {
  font-size: 17px;
  line-height: 20px;
  font-family: "RobotoNormal, sans-serif";
  margin-left: -19rem;
  margin-top: 1rem;
}
.details-captcha-image {
  position: relative;
  right: 37rem;
  top: 5rem;
  width: 4rem;
}
.details-captcha {
  font-size: 30px;
  line-height: 32px;
  font-family: "RobotoBold, sans-serif";
  margin-left: 9rem;
  font-weight: bold;
  width: 27rem;
}
.paragraph-details-captcha {
  font-size: 17px;
  line-height: 20px;
  font-family: "RobotoNormal, sans-serif";
  margin-left: -39rem;
  margin-top: 1rem;
}
.select-e-challan-image {
  position: relative;
  right: 37rem;
  top: 5rem;
  width: 5rem;
}
.select-e-challan {
  font-size: 30px;
  line-height: 32px;
  font-family: "RobotoBold, sans-serif";
  margin-left: 9rem;
  font-weight: bold;
  width: 21rem;
}
.paragraph-select-e-challan {
  font-size: 17px;
  line-height: 20px;
  font-family: "RobotoNormal, sans-serif";
  margin-left: -38rem;
  margin-top: 1rem;
}
.proceed-payment-image {
  position: relative;
  right: 37rem;
  top: 5rem;
  width: 5rem;
}
.proceed-payment {
  font-size: 30px;
  line-height: 32px;
  font-family: "RobotoBold, sans-serif";
  margin-left: 9rem;
  font-weight: bold;
  width: 27rem;
}
.paragraph-proceed-payment {
  font-size: 17px;
  line-height: 20px;
  font-family: "RobotoNormal, sans-serif";
  margin-left: -20rem;
  margin-top: 1rem;
}
.visit-traffic-police-image {
  position: relative;
  right: 35rem;
  top: 1rem;
  width: 5rem;
}
.visit-traffic-police {
  font-size: 30px;
  line-height: 32px;
  font-family: "RobotoBold, sans-serif";
  margin-left: 9rem;
  font-weight: bold;
  width: 26rem;
  margin-top: -4rem;
}
.paragraph-visit-traffic-police {
  font-size: 17px;
  line-height: 20px;
  font-family: "RobotoNormal, sans-serif";
  margin-left: -40rem;
  margin-top: 1rem;
}
.valid-documents-image {
  position: relative;
  right: 35rem;
  top: 5rem;
  width: 4rem;
}
.valid-documents {
  font-size: 30px;
  line-height: 32px;
  font-family: "RobotoBold, sans-serif";
  margin-left: 9rem;
  font-weight: bold;
  width: 23rem;
}
.paragraph-valid-documents {
  font-size: 17px;
  line-height: 20px;
  font-family: "RobotoNormal, sans-serif";
  margin-left: -14rem;
  margin-top: 1rem;
}
.pay-fine-image {
  position: relative;
  right: 35rem;
  top: 5rem;
  width: 5rem;
}
.pay-fine {
  font-size: 30px;
  line-height: 32px;
  font-family: "RobotoBold, sans-serif";
  margin-left: 10rem;
  font-weight: bold;
  width: 9rem;
}
.paragraph-pay-fine {
  font-size: 17px;
  line-height: 20px;
  font-family: "RobotoNormal, sans-serif";
  margin-left: -54rem;
  margin-top: 1rem;
}
.get-a-receipt-image {
  position: relative;
  right: 35rem;
  top: 5rem;
  width: 5rem;
}
.get-a-receipt {
  font-size: 30px;
  line-height: 32px;
  font-family: "RobotoBold, sans-serif";
  margin-left: 10rem;
  font-weight: bold;
  width: 13rem;
}
.paragraph-get-a-receipt {
  font-size: 17px;
  line-height: 20px;
  font-family: "RobotoNormal, sans-serif";
  margin-left: -50rem;
  margin-top: 1rem;
}
/* 
.nav-item {
  position: relative;
  font-weight: 600;
  font-size: 28px;
  line-height: 20px;
  color: #000;
  width: 100%;
  height: 100%;
  display: inline-block;
  font-family: "RobotoNormal, sans-serif";
  margin: 20px 20px;
} */

.accordion {
  padding: 80px 0;
  max-width: 1200px;
  margin: 0 auto;
}
.FAQ_bg_image__mfTNP {
  position: absolute;
  max-height: 100%;
  height: auto;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.footer-park-text {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: darkorchid;
  /* height: 10rem; */
  color: white;
  text-align: left;
}
.footer-terms-condition {
  font-size: 21px;
  line-height: 24px;
  color: white;
  background: #9932cc;
  text-align: right;
  margin-top: -27px;
  height: 5rem;
}
.input-error {
  border-color: red;
}
.error-text {
  color: red;
  font-size: 0.9em;
  position: relative;
  left: 25rem;
}
ul.nav.nav-tabs {
  display: flex;
  justify-content: space-evenly;
  margin-left: 9rem;
  margin-top: 18rem;
  width: 80%;
}
li.nav-item-tab-2 {
  width: 25% !important;
  border: none !important;
  font-family: "RobotoBold, sans-serif";
}
li.nav-item-tab-1 {
  width: 25% !important;
  border: none !important;
  font-family: "RobotoBold, sans-serif";
}
li.nav-item-tab-0 {
  width: 25% !important;
  border: none !important;
  font-family: "RobotoBold, sans-serif";
}
a#tab-1 {
  border: none !important;
  font-size: 20px;
}
a#tab-2 {
  border: none !important;
  margin-right: -4rem;
  font-size: 20px;
}

a#tab-0 {
  border: none !important;
  margin-left: -4rem;
  font-size: 20px;
}


/* Mobile (large phones) */
@media (max-width: 767px) {
  /* Styles for large phones */
  ul.nav.nav-tabs {
    display: flex;
    justify-content: space-evenly;
    margin-left: 2rem;
    margin-top: -7rem;
    width: 80%;
  }
  a#tab-1 {
    border: none !important;
  }
  a#tab-2 {
    border: none !important;
    margin-right: -4rem;
  }

  a#tab-0 {
    border: none !important;
    margin-left: -3rem;
  }
  .input-error {
    border-color: red;
  }
  .error-text {
    color: red;
    font-size: 0.9em;
    position: relative;
    left: -8rem;
  }

  .home-text {
    position: relative;
    top: -7rem;
    left: 1rem;
    font-size: 26px;
    font-family: "RobotoNormal, sans-serif";
  }
  .image-home {
    position: relative;
    left: 5rem;
    width: 100%;
  }
  .checkbox-text {
    position: relative;
    left: 1rem;
    top: -7rem;
    font-size: 14px;
    font-family: "RobotoNormal, sans-serif";
  }
  .easily-pay {
    position: relative;
    top: -7rem;
    left: 0.5rem;
    font-family: RobotoNormal, sans-serif;
    font-size: 14px;
  }
  .ant-tabs-nav-operations {
    gap: 200px;
    margin-left: -200rem !important;
  }
  .avoid-court {
    position: relative;
    left: 1.4rem;
    top: -7rem;
    font-family: "RobotoNormal, sans-serif";
    font-size: 14px;
  }
  .enter-vehicle-text {
    font-size: 20px;
    line-height: 20px;
    font-family: "RobotoBold, sans-serif";
    position: relative;
    top: 25rem;
    width: 50%;
    left: 1rem;
  }
  .view-challan-button {
    line-height: 28px;
    font-family: "RobotoMedium, sans-serif";
    color: white;
    background: darkorchid;
    font-size: 16px;
    width: 42%;
    border-radius: 21px;
    height: 3rem;
    position: relative;
  left: -5rem;
  top: -9px;
  }
  .input {
    /* display: flex !important; */
    /* align-items: inherit; */
    width: 50% !important;
    height: 40px !important;
    background: #eaeaea !important;
    border-radius: 12px !important;
    margin-top: 26rem !important;
    position: relative;
    left: 1rem;
    top: 0rem;
  }
  .check-text {
    font-size: 24px !important;
    line-height: 36px !important;
    font-family: "RobotoNormal, sans-serif" !important;
    position: relative !important;
    left: 0rem !important;
    top: 0rem !important;
    text-align: start;
  }
  .h2-heading-paragraph-text {
    font-family: "RobotoNormal, sans-serif" !important;
    font-size: 15px !important;
    line-height: 20.8px !important;
    position: relative !important;
    top: 0rem !important;
    left: 0rem;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .e-challan {
    position: relative !important;
    left: 0rem !important;
    top: 0rem !important;
    text-align: start;
    font-family: "RobotoBold, sans-serif" !important;
    font-size: 24px !important;
  }
  .e-challan-paragraph-text {
    font-family: "RobotoNormal, sans-serif" !important;
    font-size: 15px !important;
    line-height: 20.8px !important;
    position: relative !important;
    top: 0rem !important;
    left: 0rem;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .read-more-button {
    padding: 10px 20px;
    background-color: darkorchid;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 26%;
    width: 35%;
margin-top: 0rem !important;  }
  .check-e-challan {
    font-family: "RobotoBold, sans-serif" !important;
    font-size: 24px !important;
    position: relative !important;
    left: 0rem !important;
    top: 0rem !important;
    text-align: start;
  }
  .check-your-challan {
    font-family: "RobotoNormal, sans-serif";
    font-size: 15px;
    line-height: 20.8px;
    position: relative !important;
    top: 0rem !important;
    left: 0rem;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .pay-e-challan {
    position: relative !important;
    left: 0rem !important;
    top: 0rem !important;
    text-align: start;
    font-family: "RobotoBold, sans-serif" !important;
    font-size: 24px !important;
  }
  .paragarph-pay-online {
    font-family: "RobotoMedium, sans-serif";
    font-size: 15px;
    line-height: 20.8px;
    position: relative !important;
    top: 0rem !important;
    left: 0rem;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .e-challan-question {
    position: relative !important;
    left: 0rem !important;
    top: 0rem !important;
    text-align: start;
    font-family: "RobotoBold, sans-serif" !important;
    font-size: 24px !important;
  }
  .paragraph-e-challan-question {
    font-family: "RobotoMedium, sans-serif";
    font-size: 15px;
    line-height: 20.8px;
    position: relative !important;
    top: 0rem !important;
    left: 0rem;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .penalties-and-fines {
    position: relative !important;
    left: 0rem !important;
    top: 0rem !important;
    text-align: start;
    font-family: "RobotoBold, sans-serif" !important;
    font-size: 24px !important;
  }
  .paragraph-penalties-and-fines {
    font-family: "RobotoMedium, sans-serif";
    font-size: 15px;
    line-height: 20.8px;
    position: relative !important;
    top: 0rem !important;
    left: 0rem;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .advantage-challan-payment {
    position: relative !important;
    left: 0rem !important;
    top: 0rem !important;
    text-align: start;
    font-family: "RobotoBold, sans-serif" !important;
    font-size: 24px !important;
  }
  .paragraph-advantage-e-challan {
    font-family: "RobotoMedium, sans-serif";
    font-size: 15px;
    line-height: 20.8px;
    position: relative !important;
    top: 0rem !important;
    left: 0rem;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .conclusion {
    position: relative !important;
    left: 0rem !important;
    top: 0rem !important;
    text-align: start;
    font-family: "RobotoBold, sans-serif" !important;
    font-size: 24px !important;
  }
  .paragraph-conclusion {
    font-family: "RobotoMedium, sans-serif";
    font-size: 15px;
    line-height: 20.8px;
    position: relative !important;
    top: 0rem !important;
    left: 0rem;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .violations-and-penalties {
    font-size: 20px !important;
    line-height: 32px !important;
    font-family: " RobotoBold, sans-serif" !important;
    position: relative !important;
    left: 0rem !important;
    top: 0rem !important;
    text-align: start;
  }
  .paragraph-traffic-violations {
    font-family: "RobotoNormal, sans-serif";
    font-size: 17px;
    line-height: 20.8px;
    position: relative !important;
    top: 0rem !important;
    left: 0rem;
    width: 100%;
    display: flex;
    justify-content: start;
    margin: 0px 0px !important;
  }
  .offences-document {
    line-height: 24px !important;
    font-family: "RobotoMedium, sans-serif" !important;
    margin-top: 1rem !important;
    margin-right: 4rem !important;
    font-weight: bold !important;
  }
  .offences-table {
    display: flex !important;
    flex-direction: column !important;
    margin: auto !important;
    margin-top: 1rem !important;
    width: 98%;
  }
  .offense-related {
    line-height: 24px !important;
    font-family: "RobotoMedium, sans-serif" !important;
    margin-top: 3rem !important;
    margin-right: 14rem !important;
    font-weight: bold !important;
  }
  .offense-related-table {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2rem;
    width: 100%;
  }
  .view-more-button {
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */
    /* padding: 10px 20px; */
    background-color: darkorchid;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 14rem;
    /* display: flex; */
  }
  .check-challan {
    font-size: 24px !important;
    line-height: 36px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: 1rem;
    margin-top: 2rem;
  }
  /* .row {
    width: 24rem;
  } */
  .first-col-6 {
    display: flex !important;
    flex-direction: column !important;
    margin: auto !important;
    margin-top: 1rem !important;
    width: 100% !important;
    height: 528px !important;
    background: #e1e8ed !important;
    margin-left: 0rem !important;
    border-radius: 20px !important;
  }
  .step-for-check-challan {
    font-size: 15px !important;
    line-height: 24px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-top: 3rem !important;
    margin-left: 0rem !important;
  }
  .paragraph-visit-app {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 5rem;
    margin-top: 1rem;
  }
  .click-challan {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 12rem;
    margin-top: 0rem;
  }
  .enter-vehicle-number {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 0.7rem;
    margin-top: 0rem;
  }
  .find-update-button {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 1rem;
    margin-top: 0rem;
  }
  .get-e-challan-status {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 1rem;
    margin-top: 0rem;
  }
  .first-box-image {
    display: contents;
  }
  .second-col-6 {
    display: flex !important;
    flex-direction: column !important;
    margin: auto !important;
    margin-top: 2rem !important;
    width: 850px !important;
    height: 615px !important;
    background: #e1e8ed !important;
    margin-left: 0rem !important;
    border-radius: 20px !important;
  }
  .parivahan-website {
    font-size: 15px !important;
    line-height: 20px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-top: 3rem !important;
    margin-left: 1rem !important;
  }
  .visit-parivahan-website {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 2rem;
    margin-top: 1rem;
}
  .click-get-challan-details {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-top: 0rem;
    padding-right: 3rem;
  }
  .enter-details-captcha {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 0rem;
    margin-top: 0rem;
  }
  .select-the-e-challan {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-top: 0rem;
    display: contents;
  }
  .proceed-the-payment {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 1rem;
    margin-top: 1rem;
  }
  .studio-display-image {
    display: contents;
  }
  .how-can-pay-challan {
    font-size: 24px !important;
    line-height: 36px !important;
    font-family: " RobotoBold, sans-serif" !important;
    position: relative !important;
    top: -5rem !important;
    right: 5rem !important;
  }
  .paragraph-pay-online-offline {
    font-size: 16px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-top: -4rem;
    margin-left: 0rem;
  }

  div#rc-tabs-1-tab-1 {
    width: 7rem !important;
    font-size: 17px !important;
    line-height: 2px !important;
    font-family: "RobotoBold, sans-serif" !important;
    color: black !important;
    margin-left: 0rem;
  }
  div#rc-tabs-1-tab-2 {
    width: 7rem !important;
    font-size: 17px !important;
    line-height: 24px !important;
    font-family: "RobotoBold, sans-serif" !important;
    color: black !important;
    margin-left: -1rem;
  }
  div#rc-tabs-1-tab-3 {
    width: 7rem !important;
    font-size: 17px !important;
    line-height: 24px !important;
    font-family: "RobotoBold, sans-serif" !important;
    color: black !important;
  }
  .open-challanDekho-image {
    position: relative;
    right: 9rem;
    top: 1rem;
    width: 3rem;
  }
  .open-challan-dekho {
    font-size: 15px !important;
    line-height: 25px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: -3rem !important;
    font-weight: bold !important;
    margin-top: -2rem;
  }
  .paragraph-challan-dekho {
    font-size: 13px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-left: 4rem;
    margin-top: 0rem;
  }
  .vehicle-number-image {
    position: relative;
    right: 9rem;
    top: 2rem;
    width: 4rem;
  }
  .vehicle-number {
    font-size: 15px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: -1rem !important;
    font-weight: bold !important;
    /* width: 22rem !important; */
    margin-top: -1rem;
  }
  .paragraph-vehicle-number {
    font-size: 13px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    width: 78%;
    margin-top: 0rem;
    margin-left: 5rem;
  }
  .check-challan-status-image {
    position: relative;
    right: 9rem;
    top: 1rem;
    width: 3rem;
  }
  .e-challan-status {
    font-size: 15px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: 19rem !important;
    font-weight: bold !important;
    width: 100% !important;
    margin-top: -2rem;
  }
  .paragraph-challan-status {
    font-size: 13px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    width: 77%;
    margin-top: 0rem;
    margin-left: 5rem;
  }
  .pending-challan-image {
    position: relative;
    right: 9rem;
    top: 1rem;
    width: 3rem;
  }
  .pending-challan {
    font-size: 15px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    font-weight: bold !important;
    margin-top: -2rem;
    margin-left: 0rem;
  }
  .paragraph-pending-challan {
    font-size: 13px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-top: 0rem;
    margin-left: 5rem;
  }
  .recieve-confirmation-image {
    position: relative;
    right: 9rem;
    top: 1rem;
    width: 3rem;
  }
  .recieve-confirmation {
    font-size: 15px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    font-weight: bold !important;
    margin-top: -2rem;
    margin-left: 4rem;
  }
  .paragraph-recieve-confirmation {
    font-size: 13px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-top: 0rem;
    width: 86%;
    margin-left: 3rem;
  }
  .visit-parivahan-image {
    position: relative;
    right: 9rem;
    top: 1rem;
    width: 3rem;
  }
  .visit-parivahan {
    font-size: 15px !important;
    line-height: 25px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: -1rem !important;
    font-weight: bold !important;
    margin-top: -1rem;
    width: 96%;
  }
  .paragraph-visit-parivahan {
    font-size: 13px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-left: 4rem;
    margin-top: 0rem;
  }

  .get-challan-details-image {
    position: relative;
    right: 9rem;
    top: 0rem;
    width: 3rem;
  }
  .get-challan-details {
    font-size: 15px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: -1rem !important;
    font-weight: bold !important;
    width: 100% !important;
    margin-top: -4rem;
  }
  .paragraph-get-challan-details {
    font-size: 13px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-left: 4rem;
    margin-top: 0rem;
  }
  .details-captcha-image {
    position: relative;
    right: 9rem;
    top: 1rem;
    width: 3rem;
  }
  .details-captcha {
    font-size: 15px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: -1rem !important;
    font-weight: bold !important;
    width: 100% !important;
    margin-top: -3rem;
  }
  .paragraph-details-captcha {
    font-size: 13px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-left: 2rem;
    margin-top: 0rem;
  }
  .select-e-challan-image {
    position: relative;
    right: 9rem;
    top: 1rem;
    width: 3rem;
  }
  .select-e-challan {
    font-size: 15px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: -1rem !important;
    font-weight: bold !important;
    margin-top: -2rem;
  }
  .paragraph-select-e-challan {
    font-size: 13px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-left: 3rem;
    margin-top: 0rem;
  }
  .proceed-payment-image {
    position: relative;
    right: 9rem;
    top: 1rem;
    width: 3rem;
  }
  .proceed-payment {
    font-size: 15px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: -1rem !important;
    font-weight: bold !important;
    width: 100% !important;
    margin-top: -2rem;
  }
  .paragraph-proceed-payment {
    font-size: 13px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-left: 4rem;
    margin-top: 0rem;
  }
  .visit-traffic-police-image {
    position: relative;
    right: 9rem;
    top: 1rem;
    width: 3rem;
  }
  .visit-traffic-police {
    font-size: 15px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: -1rem !important;
    font-weight: bold !important;
    width: 100% !important;
    margin-top: -2rem;
  }
  .paragraph-visit-traffic-police {
    font-size: 13px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-left: 3rem;
    margin-top: 0rem;
  }
  .valid-documents-image {
    position: relative;
    right: 9rem;
    top: 1rem;
    width: 3rem;
  }
  .valid-documents {
    font-size: 15px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: -1rem !important;
    font-weight: bold !important;
    /* width: 23rem !important; */
    margin-top: -3rem;
  }
  .paragraph-valid-documents {
    font-size: 13px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-left: 5rem;
    margin-top: 0rem;
  }
  .pay-fine-image {
    position: relative;
    right: 9rem;
    top: 1rem;
    width: 3rem;
  }
  .pay-fine {
    font-size: 15px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: 3rem !important;
    font-weight: bold !important;
    /* width: 9rem !important; */
    margin-top: -2rem;
  }
  .paragraph-pay-fine {
    font-size: 13px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-left: -6rem;
    margin-top: 0rem;
  }
  .get-a-receipt-image {
    position: relative;
    right: 9rem;
    top: 1rem;
    width: 3rem;
  }
  .get-a-receipt {
    font-size: 15px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: 1rem !important;
    font-weight: bold !important;
    /* width: 13rem !important; */
    margin-top: -2rem;
  }
  .paragraph-get-a-receipt {
    font-size: 13px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-left: -3rem;
    margin-top: 0rem;
  }
  .footer-park-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: darkorchid;
    height: 25vh;
    color: white;
    padding-top: 0.6rem;
    font-size: 13px;
    text-align: center;
  }
  .footer-terms-condition {
    font-size: 8px;
    line-height: 5px;
    margin-top: -30px;
    color: white;
    text-align: center;
  }
  .nav-item {
    margin-right: 20px !important; 
}
.navbar-nav {
  display: ruby  !important; ;
}
button.navbar-toggler {
  position: fixed;
}
img.navbar-logo-image {
  width: 100px !important;
  position: absolute !important;
  top: -24px !important;
  left: 55px !important;
}
.nav-item {
  margin-right: 7px !important; 
}
}

/* Tablet (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
  .nav-item {
    margin-right: 20px !important; 
}
.navbar-nav {
  display: ruby  !important; ;
}
button.navbar-toggler {
  position: fixed;
}
img.navbar-logo-image {
  width: 150px !important;
  position: absolute !important;
  top: -3rem !important;
  left: 3rem !important;
}
  .input-error {
    border-color: red;
  }
  .error-text {
    color: red;
    font-size: 0.9em;
    position: relative;
    left: -14rem;
    top: -8rem;
  }
  .ant-tabs-tab {
    width: 104px;
  }
  element.style {
    width: 10rem;
    transform: translate(-80px, 0px);
  }
  .home-text {
    position: relative;
    top: -17rem;
    left: -5rem;
    font-size: 32px;
    font-family: "RobotoNormal, sans-serif";
}
  .image-home {
    position: relative;
    left: 207px;
    top: 4rem;
    width: 100%;
  }
  .checkbox-text {
    position: relative;
    left: -5rem;
    top: -17rem;
    font-size: 16px;
    font-family: "RobotoNormal, sans-serif";
}
  .easily-pay {
    position: relative;
    left: -6rem;
    top: -17rem;
    font-size: 16px;
    font-family: "RobotoNormal, sans-serif";
  }
  .avoid-court {
    position: relative;
    left: -4.5rem;
    top: -17rem;
    font-size: 16px;
    font-family: "RobotoNormal, sans-serif";
  }
  .enter-vehicle-text {
    font-size: 26px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    position: relative !important;
    top: 23rem !important;
    width: 31% !important;
    left: 5rem !important;
  }
  .input {
    display: flex !important;
    align-items: center !important;
    width: 34%;
    height: 54px !important;
    background: #eaeaea !important;
    border-radius: 12px !important;
    margin-top: 34rem !important;
    position: relative;
    left: 5rem;
    top: -10rem;
}
.view-challan-button {
  line-height: 24px;
  font-family: "RobotoMedium, sans-serif";
  color: white;
  background: darkorchid;
  font-size: 24px;
  width: 28%;
  border-radius: 20px;
  /* height: 3rem; */
  position: relative;
  left: -11rem;
  top: -171px;
}
.check-text {
  font-size: 26px !important;
  line-height: 36px !important;
  font-family: "RobotoNormal, sans-serif" !important;
  position: relative !important;
  left: 0rem !important;
  top: 0rem !important;
  text-align: start;
}
  .h2-heading-paragraph-text {
    font-family: "RobotoNormal, sans-serif" !important;
    font-size: 18px;
    line-height: 27.8px !important;
    position: relative !important;
    top: 0rem !important;
    left: 0rem;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .e-challan {
    position: relative !important;
    left: 0rem !important;
    top: 0rem !important;
    text-align: start;
    font-family: "RobotoBold, sans-serif" !important;
    font-size: 26px !important;
  }
  .e-challan-status {
    font-size: 24px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    /* margin-left: -7rem !important; */
    font-weight: bold !important;
    /* width: 62rem !important; */
    margin-top: -2rem;
    position: relative;
    left: -3rem;
  }
  .e-challan-paragraph-text {
    font-family: "RobotoNormal, sans-serif" !important;
    font-size: 18px;
    line-height: 27.8px !important;
    position: relative !important;
    top: 0rem !important;
    left: 0rem;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .read-more-button {
    /* padding: 10px 20px; */
    background-color: darkorchid;
    color: white;
    /* border: none; */
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: -17rem;
    left: 17rem;
    width: 8rem;
  }
  .check-e-challan {
    position: relative !important;
    left: 0rem !important;
    top: 0rem !important;
    text-align: start;
    font-family: "RobotoBold, sans-serif" !important;
    font-size: 26px !important;
  }
  .check-your-challan {
    font-family: "RobotoNormal, sans-serif";
    font-size: 18px;
    line-height: 27.8px;
    position: relative !important;
    top: 0rem !important;
    left: 0rem;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .pay-e-challan {
    position: relative !important;
    left: 0rem !important;
    top: 0rem !important;
    text-align: start;
    font-family: "RobotoBold, sans-serif" !important;
    font-size: 26px !important;
  }
  .paragarph-pay-online {
    font-family: "RobotoMedium, sans-serif";
    font-size: 18px;
    line-height: 27.8px;
    position: relative !important;
    top: 0rem !important;
    left: 0rem;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .e-challan-question {
    position: relative !important;
    left: 0rem !important;
    top: 0rem !important;
    text-align: start;
    font-family: "RobotoBold, sans-serif" !important;
    font-size: 26px !important;
  }
  .paragraph-e-challan-question {
    font-family: "RobotoMedium, sans-serif";
    font-size: 18px;
    line-height: 27.8px;
    position: relative !important;
    top: 0rem !important;
    left: 0rem;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .penalties-and-fines {
    position: relative !important;
    left: 0rem !important;
    top: 0rem !important;
    text-align: start;
    font-family: "RobotoBold, sans-serif" !important;
    font-size: 26px !important;
  }
  .paragraph-penalties-and-fines {
    font-family: "RobotoMedium, sans-serif";
    font-size: 18px;
    line-height: 27.8px;
    position: relative !important;
    top: 0rem !important;
    left: 0rem;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .advantage-challan-payment {
    position: relative !important;
    left: 0rem !important;
    top: 0rem !important;
    text-align: start;
    font-family: "RobotoBold, sans-serif" !important;
    font-size: 26px !important;
  }
  .paragraph-advantage-e-challan {
    font-family: "RobotoMedium, sans-serif";
    font-size: 18px;
    line-height: 27.8px;
    position: relative !important;
    top: 0rem !important;
    left: 0rem;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .conclusion {
    position: relative !important;
    left: 0rem !important;
    top: 0rem !important;
    text-align: start;
    font-family: "RobotoBold, sans-serif" !important;
    font-size: 26px !important;
  }
  .paragraph-conclusion {
    font-family: "RobotoMedium, sans-serif";
    font-size: 18px;
    line-height: 27.8px;
    position: relative !important;
    top: 0rem !important;
    left: 0rem;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .violations-and-penalties {
    margin-top: -15rem !important;
    font-size: 26px !important;
    line-height: 32px !important;
    font-family: " RobotoBold, sans-serif" !important;
    position: relative !important;
    right: 7rem !important;
  }
  .paragraph-traffic-violations {
    font-family: "RobotoNormal, sans-serif";
    font-size: 18px;
    line-height: 27.8px;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .offences-document {
    line-height: 26px !important;
    font-family: "RobotoMedium, sans-serif" !important;
    margin-top: 2rem !important;
    margin-right: 22rem !important;
    font-weight: bold !important;
  }
  .offences-table {
    display: flex !important;
    flex-direction: column !important;
    margin: auto !important;
    margin-top: 1rem !important;
    width: 100% !important;
  }
  .view-more-button {
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: darkorchid;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 22rem;
  }
  .offense-related {
    line-height: 24px !important;
    font-family: "RobotoMedium, sans-serif" !important;
    margin-top: 3rem !important;
    margin-right: 28rem !important;
    font-weight: bold !important;
  }
  .offense-related-table {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2rem;
    width: 100%;
  }
  .check-challan {
    font-size: 26px !important;
    line-height: 36px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-right: 8rem;
    margin-top: 5rem;
  }

  .first-col-6 {
    display: flex !important;
    flex-direction: column !important;
    margin: auto !important;
    margin-top: 2rem !important;
    width: 100% !important;
    height: 806px !important;
    background: #e1e8ed !important;
    border-radius: 20px !important;
  }
  .step-for-check-challan {
    font-size: 30px !important;
    line-height: 24px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-top: 3rem !important;
    margin-right: 2rem !important;
  }
  .paragraph-visit-app {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 13rem;
    margin-top: 3rem;
  }
  .click-challan {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 25rem;
    margin-top: 2rem;
  }
  .enter-vehicle-number {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 3rem;
    margin-top: 2rem;
  }
  .find-update-button {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 3rem;
    margin-top: 2rem;
  }
  .get-e-challan-status {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 4rem;
    margin-top: 2rem;
  }
  .first-box-image {
    /* display: contents; */
    margin-left: 1px;
  }

  .second-col-6 {
    display: flex !important;
    flex-direction: column !important;
    margin: auto !important;
    margin-top: 2rem !important;
    width: 100% !important;
    height: 877px !important;
    background: #e1e8ed !important;
    border-radius: 20px !important;
  }
  .parivahan-website {
    font-size: 30px !important;
    line-height: 24px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-top: 3rem !important;
    position: relative;
        left: 2rem;
  }
  .visit-parivahan-website {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 1rem;
    margin-top: 3rem;
  }
  .click-get-challan-details {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-right: -1rem;
    margin-top: 0rem;
  }
  .enter-details-captcha {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 2rem;
    margin-top: 1rem;
  }
  .select-the-e-challan {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 3rem;
    margin-top: 1rem;
    /* width: 51rem; */
  }
  .proceed-the-payment {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 2rem;
    margin-top: 2rem;
  }
  /* .studio-display-image {
    display: contents;
  } */
  .how-can-pay-challan {
    font-size: 26px !important;
    line-height: 36px !important;
    font-family: " RobotoBold, sans-serif" !important;
    position: relative !important;
    top: -5rem !important;
    right: 12rem !important;
  }
  .paragraph-pay-online-offline {
    font-size: 20px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-top: -4rem;
    margin-left: 3rem;
  }
  div#rc-tabs-1-tab-1 {
    width: 14rem !important;
    font-size: 24px !important;
    line-height: 2px !important;
    font-family: "RobotoBold, sans-serif" !important;
    color: black !important;
    margin-left: 9rem;
  }
  div#rc-tabs-1-tab-2 {
    width: 14rem !important;
    font-size: 24px !important;
    line-height: 24px !important;
    font-family: "RobotoBold, sans-serif" !important;
    color: black !important;
    margin-left: -1rem;
  }
  div#rc-tabs-1-tab-3 {
    width: 14rem !important;
    font-size: 24px !important;
    line-height: 24px !important;
    font-family: "RobotoBold, sans-serif" !important;
    color: black !important;
  }
  .open-challanDekho-image {
    position: relative;
    right: 18rem;
    top: 1rem;
    width: 5rem;
  }
  .open-challan-dekho {
    font-size: 24px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: 11rem !important;
    font-weight: bold !important;
    width: 17rem !important;
    margin-top: -4rem;
  }
  .paragraph-challan-dekho {
    font-size: 18px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    width: 38rem;
    position: relative;
    left: 42rem;
    margin-top: 1rem;
  }
  .vehicle-number-image {
    position: relative;
    right: 18rem;
    top: 2rem;
    width: 7rem;
  }
  .vehicle-number {
    font-size: 24px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: 8rem !important;
    font-weight: bold !important;
    /* width: 22rem !important; */
    margin-top: -2rem;
  }
  .paragraph-vehicle-number {
    font-size: 18px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    width: 36rem;
    margin-top: 1rem;
    position: relative;
    left: 40rem;
  }
  .check-challan-status-image {
    position: relative;
    right: 18rem;
    top: 2rem;
    width: 5rem;
  }
  .paragraph-challan-status {
    font-size: 18px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    width: 44rem;
    margin-top: 1rem;
    margin-left: 4rem;
  }
  .pending-challan-image {
    position: relative;
    right: 18rem;
    top: 2rem;
    width: 5rem;
  }
  .pending-challan {
    font-size: 24px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: -3rem !important;
    font-weight: bold !important;
    /* width: 32rem !important; */
    margin-top: -3rem;
  }
  .paragraph-pending-challan {
    font-size: 18px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    width: 45rem;
    margin-top: 1rem;
    margin-left: 3rem;
  }
  .recieve-confirmation-image {
    position: relative;
    right: 18rem;
    top: 2rem;
    width: 5rem;
  }
  .recieve-confirmation {
    font-size: 24px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: 5rem !important;
    font-weight: bold !important;
    /* width: 43rem !important; */
    margin-top: -2rem;
  }
  .paragraph-recieve-confirmation {
    font-size: 18px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    width: 36rem;
    margin-top: 1rem;
    margin-left: 10rem;
  }
  .visit-parivahan-image {
    position: relative;
    right: 18rem;
    top: 1rem;
    width: 5rem;
  }
  .visit-parivahan {
    font-size: 24px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: 5rem !important;
    font-weight: bold !important;
    /* width: 28rem !important; */
    margin-top: -2rem;
  }
  .paragraph-visit-parivahan {
    font-size: 18px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-top: 0rem;
    width: 44rem;
    margin-left: 2rem;
  }
  .get-challan-details-image {
    position: relative;
    right: 18rem;
    top: 1rem;
    width: 5rem;
  }
  .get-challan-details {
    font-size: 24px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: 5rem !important;
    font-weight: bold !important;
    /* width: 29rem !important; */
    margin-top: -5rem;
  }
  .paragraph-get-challan-details {
    font-size: 18px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-top: 0rem;
    width: 33rem;
    margin-left: 10rem;
  }
  .details-captcha-image {
    position: relative;
    right: 18rem;
    top: 2rem;
    width: 3rem;
  }
  .details-captcha {
    font-size: 24px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: 6rem !important;
    font-weight: bold !important;
    /* width: 27rem !important; */
    margin-top: -2rem;
  }
  .paragraph-details-captcha {
    font-size: 18px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-top: 0rem;
    width: 50rem;
    margin-left: -4rem;
  }
  .select-e-challan-image {
    position: relative;
    right: 18rem;
    top: 2rem;
    width: 5rem;
  }
  .select-e-challan {
    font-size: 24px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: 7rem !important;
    font-weight: bold !important;
    /* width: 21rem !important; */
    margin-top: -2rem;
  }
  .paragraph-select-e-challan {
    font-size: 18px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-left: -2rem;
    margin-top: 0rem;
    width: 48rem;
  }
  .proceed-payment-image {
    position: relative;
    right: 18rem;
    top: 2rem;
    width: 5rem;
  }
  .proceed-payment {
    font-size: 24px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: 6rem !important;
    font-weight: bold !important;
    /* width: 27rem !important; */
    margin-top: -3rem;
  }
  .paragraph-proceed-payment {
    font-size: 18px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-left: 11rem;
    margin-top: 0rem;
    width: 35rem;
  }
  .visit-traffic-police-image {
    position: relative;
    right: 18rem;
    top: 1rem;
    width: 5rem;
  }
  .visit-traffic-police {
    font-size: 24px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: 5rem !important;
    font-weight: bold !important;
    /* width: 26rem !important; */
    margin-top: -3rem;
  }
  .paragraph-visit-traffic-police {
    font-size: 18px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-left: 7rem;
    margin-top: 1rem;
    width: 26rem;
  }
  .valid-documents-image {
    position: relative;
    right: 18rem;
    top: 2rem;
    width: 3rem;
  }
  .valid-documents {
    font-size: 24px;
    line-height: 32px;
    font-family: "RobotoBold, sans-serif";
    margin-left: 5rem;
    font-weight: bold;
    width: 23rem;
    margin-top: -2rem;
  }
  .paragraph-valid-documents {
    font-size: 18px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-left: 8rem;
    margin-top: 0rem;
    width: 37rem;
  }
  .paragraph-valid-documents {
    font-size: 18px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-right: -22rem;
    margin-top: 1rem;
  }
  .pay-fine-image {
    position: relative;
    right: 18rem;
    top: 2rem;
    width: 5rem;
  }
  .pay-fine {
    font-size: 24px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: 8rem !important;
    font-weight: bold !important;
    /* width: 9rem !important; */
    margin-top: -3rem;
  }
  .paragraph-pay-fine {
    font-size: 18px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-left: 9rem;
    margin-top: 1rem;
    width: 9rem;
  }
  .get-a-receipt-image {
    position: relative;
    right: 18rem;
    top: 2rem;
    width: 5rem;
  }
  .get-a-receipt {
    font-size: 24px !important;
    line-height: 32px !important;
    font-family: "RobotoBold, sans-serif" !important;
    margin-left: 8rem !important;
    font-weight: bold !important;
    /* width: 13rem !important; */
    margin-top: -2rem;
  }
  .paragraph-get-a-receipt {
    font-size: 18px;
    line-height: 20px;
    font-family: "RobotoNormal, sans-serif";
    margin-left: 9rem;
    margin-top: 1rem;
    width: 17rem;
  }
  .footer-park-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: darkorchid;
    height: 25vh;
    color: white;
    padding-top: 0.6rem;
    font-size: 13px;
    text-align: center;
  }
  .footer-terms-condition {
    font-size: 9px;
    line-height: 9px;
    margin-top: -35px;
    color: white;
    text-align: center;
  }
  .text {
    position: relative;
    top: -6rem;
}
  ul.nav.nav-tabs {
    display: flex;
    justify-content: space-evenly;
    margin-left: 4rem;
    margin-top: 10rem;
    width: 80%;
  }
}

img.navbar-logo-image {
  width: 150px;
  position: absolute;
  top: -3rem;
}
